@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* default (light mode) */
    :root {
        /* background color */
        /*  light gray */
        --bg-primary: 255, 255, 255;
        /* emerald green */
        --bg-secondary: 52, 199, 89;
        /* sky blue */
        --bg-tertiary: 0, 123, 255;
        /* bright orange */
        --bg-accent: 255, 149, 0;

        /* text color */
        /* dark gray */
        --text-primary: 51, 51, 51;
        /* emerald green */
        --text-secondary: 52, 199, 89;
        /* sky blue */
        --text-tertiary: 0, 123, 255;
        /* bright orange */
        --text-accent: 255, 149, 0;

        /* border color */
        /* dark gray */
        --border-primary: 51, 51, 51;
        /* emerald green */
        --border-secondary: 52, 199, 89;
        /* sky blue */
        --border-tertiary: 0, 123, 255;
        /* bright orange */
        --border-accent: 255, 149, 0;
    }
    /* dark mode */
    [data-theme="dark"] {
        /* background color */
        /*  dark gray */
        --bg-primary: 49, 51, 56;
        /* emerald green */
        --bg-secondary: 52, 199, 89;
        /* sky blue */
        --bg-tertiary: 0, 123, 255;
        /* bright orange */
        --bg-accent: 255, 149, 0;

        /* text color */
        /* dark gray */
        --text-primary: 255, 255, 255;
        /* emerald green */
        --text-secondary: 52, 199, 89;
        /* sky blue */
        --text-tertiary: 0, 123, 255;
        /* bright orange */
        --text-accent: 255, 149, 0;

        /* border color */
        /* dark gray */
        --border-primary: 0, 0, 0;
        /* emerald green */
        --border-secondary: 52, 199, 89;
        /* sky blue */
        --border-tertiary: 0, 123, 255;
        /* bright orange */
        --border-accent: 255, 149, 0;
    }
}
